.video-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 37px;
    gap: 8px;
}

.description-details {
    margin-right: auto;
    max-width: 820px;
}

.description-header {
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.description-date {
    font-size: 13px;
    color: #C2C2C2;
}

.description-text {
    font-size: 16px;
    margin: 15px 0;
    line-height: 22px;
}

.description-btn {
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: #C2C2C2;
}

.subscribe-btn {
    width: 154px;
    height: 40px;
    background: #FF0000;
    border-radius: 20px;
    border: none;

}

div.subscribe-btn {
    margin-left: auto;
}

.description-date.mobile,
.subscribe-btn.mobile {
    display: none;
}

@media (max-width: 750px) {
    .video-description {
        margin: 0 16px;
        padding-top: 18px;
        height: 90px;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
    }

    .description-date.mobile,
    .subscribe-btn.mobile {
        display: block;
    }

    .description-text,
    .description-btn,
    .subscribe-btn,
    .description-date {
        display: none;
    }

    .chanel-logo img {
        height: 50px;
        width: 50px;
    }

    .subscribe-btn.mobile {
        margin: 15px 6px;
        background: none;
        color: #FF0000;
        width: 73px;
        height: 20px;
    }

    .description-header {
        font-size: 16px;
    }

    .description-details {
        margin-top: 5px;
        padding-left: 2px;
    }
}