* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 9px;
    margin: 0 70px 0 80px;
}


@media (max-width: 1260px) {
    .content {
        flex-direction: column;

    }
}

@media (max-width: 750px) {
    .content {
        margin: 0;

    }


}