.mobile-navbar {
    display: none;
}


@media (max-width: 500px ) {
    .mobile-navbar {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        z-index: 100;
    }

    .mobile-nav-links {
        display: flex;
        justify-content: space-between;
        padding: 8px 20px 11px 23px;
        list-style: none;
    }

    .mobile-nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #606060;
        font-size: 11px;

    }

    .mobile-nav-link img {
        width: 20px;
        height: 20px;
        margin-bottom: 4px;
    }

    .mobile-nav-links li:nth-child(2) {
        padding-left: 12px;
    }


}